<div class="top-container">
  <!--  <ul class="top-links-list">-->

  <!--  </ul>-->
  <div class="store-logo-container col-xl-1">
    <a routerLink=""><i class="store-logo"></i></a>
  </div>
  <ul class="top-links-list2 col-xl-4">
    <li class="top-links-item2"><a class="top-link" href="payment">Оплата и доставка</a></li>
    <li class="top-links-item2"><a class="top-link" href="certificates">Сертификаты</a></li>
    <li class="top-links-item2"><a href="about">О нас</a></li>
    <li class="top-links-item2"><a href="reviews">Отзывы</a></li>
    <li class="top-links-item2"><a href="blog">Блог</a></li>
    <li class="top-links-item2"><a href="contacts">Контакты</a></li>
    <li class="top-links-item2"><a href="gifts">Подарки</a></li>
  </ul>
<!--  <div class="top-link-gifts col-xl-1"><a href="gifts"><i class="icon-gift"></i><span>Подарки</span></a></div>-->
  <div class="top-external-icons-container col-xl-1">
    <a href="https://instagram.com" target="_blank"><i class="icon-instagram"></i></a>
    <a href="https://telegram.org" target="_blank"><i class="icon-telegram"></i></a>
    <a href="https://viber.com" target="_blank"><i class="icon-viber"></i></a>
  </div>
  <div class="top-contacts-container col-xl-2">
    <p>+375 <b>(29)</b> 812-31-01</p>
    <p>г. Минск, ул. Алибегова, д. 27/2</p>
    <p>пн-пт: 9-20, сб-вс: 10-20</p>
  </div>
  <div class="top-cart-container col-xl-1">
    <div class="top-cart-link">
      <a *ngIf="isLoaded" class="cart-link" routerLink="cart" title="Корзина"><i class="icon-cart"></i></a><span>({{cartQuantity}})</span>
    </div>
  </div>
  <div class="col-xl-2">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="top-link" [routerLink]="'search'">Поиск по сайту</a></li>
    </ul>
  </div>

</div>

<div class="navbar-content">
  <ul class="navbar-list">
    <li class="navbar-item"><a class="top-link" [routerLink]="'bouquets'">Букеты</a></li>
    <li class="navbar-item"><a class="top-link" [routerLink]="'flower-arrangements'">Цветочные композиции</a></li>
    <li class="navbar-item"><a class="top-link" [routerLink]="'houseplants'">Комнатные растения</a></li>
    <li class="navbar-item"><a class="top-link" [routerLink]="'bonsai'">Бонсаи</a></li>
    <li class="navbar-item"><a class="top-link" [routerLink]="'pots'">Кашпо</a></li>
    <li class="navbar-item"><a class="top-link" [routerLink]="'florariums'">Флорариумы</a></li>
    <li class="navbar-item"><a class="top-link" [routerLink]="'gift-baskets'">Подарочные наборы</a></li>
  </ul>
</div>
